.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  .modal {
    background: white;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    animation: reveal 0.6s forwards;
    height: 80vh;
    width: auto;
    min-width: 30vw;
    border-radius: 12px;
  }
  .loading {
    z-index: 1;
    border-radius: 12px;
  }
  img {
    border-radius: 12px;
    width: auto !important;
    height: 100% !important;
    display: block;
    animation: zoom-out 1s forwards;
    position: relative;
    z-index: 2;
  }
  .close {
    border-radius: 0 12px 0 0;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    background: var(--color-white);
    cursor: pointer;
    z-index: 3;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background: var(--color-primary);
      width: 50%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
