.navBar {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  transition: all 0.35s;
    .logo-menu {
          display: none;}

  .spiderman-theme & {
    .logo-svg {
      svg {
        path.highlight {
          fill: #d51b1c !important;
        }
      }
    }
  }
  @include media(phone) {
    background: transparent;
    backdrop-filter: none;
    right: 0;
    left: auto;
    top: auto;
    bottom: 0;
    width: 100vw;
    justify-content: flex-end;
    padding: 0 10px 10px 0;
  }
  &.visible {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(21, 21, 21, 0.05);
    backdrop-filter: blur(25px);
    @include media(phone) {
      background: transparent;

      backdrop-filter: none;
    }
    img {
      height: 50px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      transition: all 0.35s;
      width: auto;
    }

    &:hover {
      animation: jigelbg 0.5s steps(1, start) infinite;
      span {
        animation: jigelspan 0.5s steps(1, start) infinite;
        b {
          animation: jigelb 0.5s steps(1, start) infinite;
        }
      }
    }
    @include media(phone) {
      display: none;
    }
    @include media(tablet) {
      img {
        height: 50px !important;
        width: auto;
      }
    }
    span {
      text-transform: uppercase;
      font-family: var(--font-head);
      font-weight: 700;
      font-size: 32px;
      color: var(--text-dark);

      @include media(phone) {
        font-size: 24px;
      }
      b {
        color: var(--color-primary);
      }
    }
  }

  .burgerMenu {
    display: flex;
    display: none;
    height: 30px;
    width: 30px;
    gap: 10px;
    flex-wrap: wrap;
    transition: all 0.25s;
    background: var(--text-dark);
    box-shadow: 0 0 0 10px var(--text-dark);
    border-radius: 5px 0 0 0;

    span {
      height: 10px;
      width: 10px;
      transition: all 0.25s;
      background: var(--color-primary);
      border-radius: 10px;
      transform-origin: center;
      border: solid 1px var(--text-dark);
    }

    &.open {
      height: 40px;
      width: 40px;
      gap: 0;
      transform: translate(0px, 10px);
      span {
        height: 5px;
        width: 20px;
        border: none;
        background: var(--color-bg);
        &:nth-child(1),
        &:nth-child(4) {
          transform: rotate(45deg);
        }
        &:nth-child(2),
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .menuItems {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    display: flex;
    align-items: center;
    gap: 32px;

    li {
      color: var(--text-dark);
      white-space: nowrap;
    }
    &.dark {
      li, li a:not(.btn) {
        color: var(--text-bright);
      }
    }
  }
  @include media(phone) {
    .burgerMenu {
      display: flex;
    }

    .menuItems {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: var(--color-primary);
      width: 100%;
      padding: 0 32px 0;
      height: 0;
      border-radius: 0;
      transition: all 0.35s;
      overflow: hidden;
      &.open {
        height: 100vh;
        padding: 200px 32px 200px;
        align-items: flex-start;
        justify-content: flex-end;
      }

      li {
        font-size: 48px;
        font-weight: 900;
        .logo-menu {
          @include media(phone) {
            display: block;
          }
          svg {
            path.highlight {
              fill: #fff !important;
            }
          }
        }
        a {
          color: var(--text-bright);
        }
        &:last-child {
          margin-top: auto;
        }
        .btn {
          padding: 16px 48px;
          height: auto;
          font-size: 32px;
          border-radius: 100px;
        }
      }
    }
  }
}

// @keyframes jigelbg {
//   0% {
//     background: rgba(243, 242, 238, 0.9);
//   }
//   33% {
//     background: #ff4f00;
//   }
//   66% {
//     background: #151515;
//   }
//   100% {
//     background: rgba(243, 242, 238, 0.9);
//   }
// }
// @keyframes jigelspan {
//   0% {
//     color: #151515;
//   }
//   33% {
//     color: #151515;
//   }
//   66% {
//     color: #ffffff;
//   }
//   100% {
//     color: #151515;
//   }
// }
// @keyframes jigelb {
//   0% {
//     color: #ff4f00;
//   }
//   33% {
//     color: #ffffff;
//   }
//   66% {
//     color: #ff4f00;
//   }
//   100% {
//     color: #ff4f00;
//   }
// }
