.gallery {
  .desc {
    padding-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(phone) {
      padding-top: 100px;
    }
    h1 {
      margin-bottom: 16px;
      font-size: 64px;
    }
    p {
      margin-bottom: 64px;
      font-size: 20px;
      max-width: 70%;
    }
    @include media(phone) {
      h1 {
        margin-bottom: 16px;
        font-size: 32px;
      }
      p {
        font-size: 16px;
        max-width: 90%;
      }
    }
  }
  .loading-container {
    max-width: none;
    border-bottom: solid 1px #ddd;
    padding-bottom: 100px;
  }
  .grid {
    // max-width: 50%;
    column-count: 4;
    column-gap: 24px;
    @include media(tablet-portrait) {
      column-count: 2;
      column-gap: 20px;
    }
    @include media(phone) {
      column-count: 1;
    }
    .gallery-item {
      width: 100%;
      height: auto;
      transform: translateY(20px);
      display: block;
      overflow: hidden;
      transform-origin: center top;
      clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
      img {
        border-radius: 30px;
        object-fit: cover;
        display: block;
        cursor: pointer;
        max-width: 100%;
        width: 100%;
        margin-bottom: 24px;
      }
    }

    .gallery-item.reveal {
      animation: reveal 1s forwards;

      img {
        animation: zoom-out 0.6s forwards;
      }
    }
  }
}
