$lg-cols: 4;
$md-cols: 2;
$sm-cols: 1;
$lg-gap: 32px;
$md-gap: 24px;
$sm-gap: 16px;

.gallery {
  .desc {
    padding-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(phone) {
      padding-top: 100px;
    }
    h1 {
      margin-bottom: 16px;
      font-size: 64px;
    }
    p {
      margin-bottom: 64px;
      font-size: 20px;
      max-width: 70%;
    }
    @include media(phone) {
      h1 {
        margin-bottom: 16px;
        font-size: 32px;
      }
      p {
        font-size: 16px;
        max-width: 90%;
      }
    }
  }
  .loading-container {
    max-width: none;
    border-bottom: solid 1px #ddd;
    padding-bottom: 100px;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: $lg-gap;
    @include media(tablet-portrait) {
      gap: $md-gap;
    }
    @include media(md-phone) {
      cgap: $sm-gap;
    }
    .gallery-item {
      width: calc(100% / $lg-cols - 32px * ($lg-cols - 1) / $lg-cols);
      align-self: stretch;
      transform: translateY(20px);
      display: block;
      overflow: hidden;
      transform-origin: center top;
      clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
      @include media(tablet-portrait) {
        width: calc(100% / $md-cols - 32px * ($md-cols - 1) / $md-cols);
      }
      @include media(md-phone) {
        width: calc(100% / $sm-cols - 32px * ($sm-cols - 1) / $sm-cols);
      }
      img {
        border-radius: 30px;
        object-fit: cover;
        display: block;
        cursor: pointer;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 24px;
      }
    }

    .gallery-item.reveal {
      animation: reveal 1s forwards;

      img {
        animation: zoom-out 0.6s forwards;
      }
    }
  }
}
